body{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: Roboto, serif;
}
b, strong {
    font-weight: bold;
}
.w-261{
    width: 261px;
    max-width: 100%;
}
h2, .h2{
    font-weight: 300;
    font-size: 36px;
    line-height: 34px;
    text-transform: uppercase;
}
h3, .h3{
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
}
h4, .h4{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
h5, .h5{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}
.ul-zber{
    list-style: none;
    padding-left: 25px;
}
.ul-zber li{
    position: relative;
}
.ul-zber li::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #8E26B8;
    border-radius: 6px;
    top: 7px;
    left: -25px;
}
::-webkit-input-placeholder {color:#9d9d9d;}
::-moz-placeholder          {color:#9d9d9d;}/* Firefox 19+ */
:-moz-placeholder           {color:#9d9d9d;}/* Firefox 18- */
:-ms-input-placeholder      {color:#9d9d9d;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
input[type="date"]::-webkit-inner-spin-button { display: none; }
input[type="text"], input[type="password"], textarea, input[type="date"], input[type="email"]{
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="date"]:focus, input[type="email"]:focus{
    border: 1px solid #8e26b8;
    outline: none;
}
input[type="text"]:invalid, input[type="password"]:invalid, textarea:invalid, input[type="date"]:invalid, input[type="email"]:invalid{
    border: 1px solid #F01B1B;
}
input[type="text"]:disabled, input[type="password"]:disabled, textarea:disabled, input[type="date"]:disabled, input[type="email"]:disabled{
    background: #f7f7f7;
    border: 1px solid #d6d6d6;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 130%;
    margin-top: 11px;
}
input[type=checkbox] + label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 0;
}
input[type=checkbox]:disabled + label:before {
    background-color: #f7f7f7;
}
input[type=checkbox]:checked + label:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border-bottom: 1px solid #8e26b8;
    border-right: 1px solid #8e26b8;
    position: absolute;
    left: 7px;
    top: 2px;
}
.btn{
    font-weight: 300;
    padding: 9px 0.75rem;
}
.btn:active{
    background-color: #ab9db8;
}
.btn-gray{
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
}
.btn-primary{
    background-color: #8e26b8;
}
.btn-dark{
    background-color: #1f1f1f;
    border-color: #ffffff;
    color: #ffffff;
}
.btn-dark:hover{
    background-color: #ffffff;
    border-color: #1f1f1f;
    color: #1f1f1f;
}
.btn-light {
    border-color: #8e26b8;
    background-color: #ffffff;
    color: #000000;
}
.btn-light:hover {
    color: #ffffff;
    border-color: #8e26b8;
    background-color: #8e26b8;
}
.btn-link {
    color: #8e26b8;
    padding: 4px 0;
}
.btn-standart{
    width: 263px;
    height: 43px;
    max-width: 100%;
}
.slider.slider-horizontal {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 48px;
}
.slider.slider-horizontal .slider-track {
    height: 5px;
}
.slider-track-high{
    background: #ebebeb;
    border-radius: 0;
}
.slider-selection{
    background: #8c32bc;
    border-radius: 0;
}
.slider-handle {
    position: absolute;
    top: -3px;
    width: 20px;
    height: 20px;
    background: #ffffff none;
    -webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,.5);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.5);
}
.gray_text{
    color: #8e8e8e;
}
.video-frame{
    position:relative;
    padding-bottom:56.25%;
    height:0;
}
.video-frame iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/* --- Navbar --- */
.navbar{
    padding: 0;
}
.navbar-top, .navbar-bottom{
    border-bottom: 1px solid #dddddd;
}
.navbar-top .nav-link {
    padding: 1.8rem 1rem;
}
.navbar-top button.btn-primary {
    width: 212px;
    font-weight: 200;
}
.navbar-bottom .nav-link {
    padding: 1rem 1rem;
}
.navbar-bottom{
    font-size: 12px;
    font-weight: 500;
}
.navbar-bottom .btn-profile-login{
    font-weight: 500;
}
.navbar-bottom ul.navbar-nav{
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
    border-bottom: 3px solid #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    border-bottom: 3px solid #8e26b8;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    border-bottom: 3px solid #8e26b8;
}
.btn-profile-login{
    font-size: 12px;
    color: #000;
    width: 83px;
}
.btn-profile-login:before {
    content: "";
    display: block;
    position: relative;
    width: 15px;
    height: 16px;
    background: url(img/profile-login-icon.png) no-repeat;
    right: 8px;
    float: left;
}
/* --- Navbar --- */
/* --- Top banner --- */
.top-banner{
    background-color: #1f1f1f;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 25px 0;
}
.top-banner .container .row{
    min-height: 148px;
}
.top-banner .top-banner-name{
    font-size: 36px;
    display: block;
}
.top-banner .top-banner-rate, .top-banner .top-banner-date{
    display: inline-block;
    position: relative;
    text-align: left;
}
.top-banner .top-banner-date{
    margin-left: 35px;
}
.top-banner .top-banner-rate:before{
    content: "";
    background: url("img/percent-circle-outline.png") no-repeat;
    height: 39px;
    width: 40px;
    position: absolute;
    left: -50px;
    top: 8px;
}
.top-banner .top-banner-rate span, .top-banner .top-banner-date span{
    font-size: 24px;
    font-weight: normal;
}
.top-banner .top-banner-price{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
}
.top-banner .top-banner-price span{
    font-size: 24px;
}
.top-banner .top-banner-button{
    margin-top: 22px;
}
.top-banner .top-banner-button button{
    width: 263px;
    height: 43px;
}

/* --- Top banner --- */

/* --- Foter --- */
.footer-tel-gray{
    background-color: #f2f2f2;
    text-align: center;
}
.footer-tel-white{
    background-color: #ffffff;
    text-align: right;
}
.footer-tel-numb{
    font-size: 30px;
    display: block;
}
/* --- Foter --- */


/* --- lichny-schet --- */
.lichny-schet h1{
    margin-bottom: 36px;
}
.lichny-schet-emitent{
    padding-bottom: 65px;
    margin-bottom: 75px;
    border-bottom: 1px solid #dddddd;
}
.lichny-schet-emitent .lichny-schet-img{
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 34px;
}
.lichny-schet .lichny-schet-emitent-header button{
    margin-top: 2px;
    height: 43px;
}
.lichny-schet .lichny-schet-emitent-header button:nth-of-type(1){
    width: 164px;
    margin-right: 15px;
}
.lichny-schet .lichny-schet-emitent-header button:nth-of-type(2){
    width: 263px;
}
.lichny-schet .lichny-schet-emitent-header{
    margin-bottom: 37px;
}
.lichny-schet .lichny-schet-stavka{
    position: relative;
    margin-left: 45px;
    display: block;
}
.lichny-schet .lichny-schet-stavka::before{
    content: "";
    background-image: url("img/percent-circle-outline-blue.png");
    width: 36px;
    height: 35px;
    position: absolute;
    left: -45px;
    top: 6px;
}
.lichny-schet .lichny-schet-stavka span, .lichny-schet .lichny-schet-sum-invest span, .lichny-schet .lichny-schet-srok span{
    font-size: 24px;
    color: #000000;
    font-weight: 500;
    line-height: 1.3;
}
.lichny-schet .lichny-schet-vyplata{
    font-size: 24px;
    margin-top: 17px;
}
.lichny-schet .lichny-schet-vyplata > .float-left{
    color: #8c32bc;
    font-weight: 500;
}
.lichny-schet .progress{
    width: 100%;
}
.lichny-schet  .lichny-schet-sum-post-price, .lichny-schet .lichny-schet-sum-zadol-price{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.8;
}
.lichny-schet  .lichny-schet-sum-post-price{
    color: #8c32bc;
}
.lichny-schet .lichny-schet-sum-zadol-price{
    color: #fe9300;
}
.lichny-schet  .lichny-schet-sum-post-price span, .lichny-schet .lichny-schet-sum-zadol-price span{
    font-size: 24px;
}
.lichny-schet .lichny-schet-progress-viplacheno{
    height: 11px;
    margin-top: 44px;
    margin-bottom: 35px;
}
.lichny-schet .lichny-schet-progress-viplacheno .progress-bar{
    background-color: #8c32bc;
}
.lichny-schet .lichny-schet-progress-ostatok{
    height: 32px;
    background-color: unset;
    background-image: url("img/progress-bar-oval-sprite.png");
    background-position: 0 -32px;
    background-repeat: repeat-x;
    margin-top: 2px;
    margin-bottom: 13px;
}
.lichny-schet .lichny-schet-progress-ostatok .progress-bar{
    background-color: unset;
    background-image: url("img/progress-bar-oval-sprite.png");
    background-position: 0 0;
    background-repeat: repeat-x;
}
.lichny-schet-operation{
    padding-bottom: 21px;
}
.lichny-schet .lichny-schet-operation-price{
    color: #8c32bc;
    white-space: nowrap;
}
/* --- lichny-schet --- */

/* --- Obekty-zajma --- */
.obj-zai-top{
    margin-top: 35px;
    margin-bottom: 30px;
}
.obj-zai-top h1{
    display: inline-block;
}
.obj-zai-top button{
    float: right;
    position: relative;
}
.obj-zai-top .btn-filter::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: -42px;
    background-image: url(img/filter-icon.png);
    width: 24px;
    height: 19px;
}
.obj-zai-filter{
    display: none;
}
.obj-zai-filter label{
    display: block;
}
.obj-zai-filter input {
    height: 59px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 25px;
}
#name, #keyword{
    width: 100%;
    padding-left: 24px;
}
#day{
    width: calc(25% - 22px);
    margin-left: 21px;
    margin-right: 7px;
    text-align: center;
}
#month{
    width: calc(25% - 22px);
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}
#year{
    width: calc(50% - 60px);
    margin-left: 9px;
    text-align: center;
}
.obj-zai{
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 25px;
    padding-bottom: 11px;
}
.obj-zai:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.obj-zai .obj-zai-img img{
    width: 100%;
    height: 195px;
    object-fit: cover;
}
.obj-zai-text{
    padding: 12px 20px;
}
.obj-zai-desc {
    margin-top: 19px;
    font-size: 14px;
    margin-bottom: 19px;
}
.obj-zai-date {
    font-size: 14px;
    display: inline-block;
}
.obj-zai-desc-left, .obj-zai-desc-right{
    display: inline-block;
}
.obj-zai-desc-left {
    position: relative;
    margin-left: 45px;
    margin-right: 29px;
}
.obj-zai-desc-left:before{
    content: "";
    position: absolute;
    display: block;
    background-image: url(img/percent-circle-outline-blue.png);
    width: 36px;
    height: 35px;
    top: 0;
    right: 54px;
}
.obj-zai-desc-right{
    border-left: 1px solid #dddddd;
    padding-left: 22px;
}
.obj-zai-text .font-weight-bold{
    font-size: 16px;
}
.obj-zai-text button{
    vertical-align: top;
    float: right;
    padding: 9px 24px;
}
.buy-obj-zai{
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 100%;
    height: calc(100% - 25px);
    background-color: unset;
    position: relative;
    min-height: 424px;
}
.buy-obj-zai:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.buy-obj-zai::before{
    content: "";
    width: 85px;
    height: 85px;
    position: absolute;
    background-image: url("img/object-invest-plus.png");
    top: calc(50% - 42px);
    left: calc(50% - 42px);
}
.buy-obj-zai::after{
    content: "Приобрести объект инвестирования";
    position: absolute;
    top: calc(50% - -50px);
    left: 0;
    color: #a8a8a8;
    width: 100%;
}
/* --- Obekty-zajma --- */

/* --- Zaemshik --- */
.zaemshik-description h2{
    font-size: 36px;
    margin-top: 75px;
    font-weight: 300;
}
.zaemshik-description h3{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 300;
}
.zaemshik-description .zaemshik-description-portret{
    width: 138px;
    height: 138px;
    border-radius: 50%;
}
.zaemshik-description .zaemshik-description-fio{
    font-size: 36px;
}
.zaemshik-description .zaemshik-description-raiting span{
    color: #8e26b8;
    font-weight: 500;
}
.zaemshik-description .zaemshik-description-fi{
    margin-top: 30px;
}
.zaemshik-description ol {
    counter-reset: myCounter;
    list-style: none;
}

.zaemshik-description ol > li::before {
    content: counter( myCounter ) ') ';
    counter-increment: myCounter;
}
.zaemshik-description  li{
    margin-bottom: 20px;
    margin-left: -40px;
}
.zaemshik-resume-company{
    background-color: #f6f7f8;
    border-bottom: 1px solid #dddddd;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* --- Zaemshik --- */

/*общее*/

/* логотип верхнее меню*/
.tel_container .row {
    padding: 5px 0;
}

.tel_container .row  a{
    color: #000000;
}
.headlogo_box {
    padding: 22px 0;
}

ul.main_menu {
    float: left;
    margin-top: 14px;
}

ul.main_menu a.nav-link {
    padding: 0.5rem 0.8rem;
    color: #000000;
}
ul.main_menu .active {
    border-bottom: 3px solid #8e26b8;
    padding-bottom: 5px;
}

.main_menu_box button {
    margin-top: 15px;
}
div.pic_box {
    padding: 21px 0 51px 0;
    margin: auto;
    width: 150px;
}

.pic_box div{
    height: 12px; 
    border: solid 1px #dddddd;
    width: 12px; 
    border-radius: 50px;
    margin-right: 24px;
    cursor: pointer;
    margin-top: 4px;
}

.pic_box .active_cir {
    height: 21px; 
    border: solid 1px #8e26b8;
    width: 21px; 
    border-radius: 50px;
    margin-right: 19px; 
    cursor: pointer;
    background-color: #8e26b8;
    margin-top: 0 !important;
}
/* Слайдер*/

.main_slayder .slayder_text {
    position: absolute;
    top: 0;
    left: 50%;
    color: #fff;
    text-transform: uppercase;
    width: 518px;
    margin-left: -559px;
    margin-top: 137px;
    text-align: left;
}

/*блок о особенностях */
.button_os_container{
    overflow: hidden;
    padding: 15px;
}
div.button_os {
    display: inline-block;
    margin-top: 114px;
    transition: transform 0.4s ease;
}
div.button_os .bt_sr_active {
    background: #8e26b8;
    color: #fff;
    position: relative;
    border: solid 1px #8e26b8;
}
div.button_os span{
    padding: 16px 41px 16px 40px;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    border: solid 1px #d6d6d6;
    white-space: nowrap;
}
div.button_os span:first-child{
    border-radius: 6px 0 0 6px;
}
div.button_os span:last-child{
    border-radius: 0 6px 6px 0;
}
div.button_os .bt_sr_active::after {
    content: "";
    width: 30px;
    height: 30px;
    background: #8e26b8;
    position: absolute;
    transform: rotate(45deg);
    padding: 0;
    left: 50%;
    bottom: -4px;
    margin-left: -15px;
    z-index: -1;
    display: block;
    border: solid 1px #8e26b8;
}

/*Список проектов*/
.main_list_proekt .card{
    transition: transform .2s ease;
    margin: 9px 5px 3px;
    min-height: 500px;
    position: relative;
}

.main_list_proekt .card:hover {    
    -webkit-box-shadow: 0 0 6px 2px rgba(214,214,214,1);
    -moz-box-shadow: 0 0 6px 2px rgba(214,214,214,1);
    box-shadow: 0 0 6px 2px rgba(214,214,214,1);
    transform: translateY(-3px);

}
.main_list_proekt .card-body .group-info{
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 40px);
    bottom: 75px;
}
.main_list_proekt .card-body div{
    padding-right: 10px;
}
.main_list_proekt .card-body div:last-child{
    padding-left: 10px;
    padding-right: 0;
    border-left: 1px solid #d6d6d6;
}
.main_list_proekt .card-body .group-btn{
    display: flex;
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
}
/*Схема работы*/
.shema_rabotu{
    margin-top: 85px;
    margin-bottom: 100px;
}
.scheme-slider-item{
    justify-content: center;
    align-items: center;
    min-height: 430px;
}
/*Регистраци*/

.box_reg_input input {
    margin-bottom: 18px;
}

.registration_dec_line {
    width: 50%;
}

/*Вопросы*/

.list_faq {
    margin-top: 32px;
    margin-bottom: 82px;
}

.list_faq .box_help {
    max-width: 746px;
    margin: 0 auto 18px;
}
.list_faq .box_help .box_head_title {
    width: 90%;
    cursor: pointer;
}
.list_faq .card-header {
    background: #fff;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 6px;
}

.list_faq .icon_pl {
    cursor: pointer;
    width: 26px;
    height: 26px;
    background: url(img/plus.png) center;
    margin-top: 4px;
}

.list_faq .icon_min {
    cursor: pointer;
    width: 26px;
    height: 26px;
    background: url(img/minus.png) center;
    margin-top: 4px;
}

.list_faq .card-body{
    padding: 0 1.25rem;
}

/*Подвал*/
footer .grey_bg{
    background: #f2f2f2;
}
footer .grey_bg2{
    background: #f6f7f9;
}

footer .tel_box{
    padding-top: 32px;
    padding-bottom: 35px;
}

footer .tel_box h2 {
    font-size: 2.8rem;
    font-weight: 300;
}

footer .tel_box h4 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 13px;
}

footer .bottom_footer{
    padding-bottom: 30px;
    padding-top: 33px;
}

footer .bottom_footer img{
    margin-top: 7px;
    max-width: 100%;
}

footer .bottom_footer button {
    margin-top: 22px;
}

footer .box_footer_podpiska h3 {
    margin-bottom: 2px;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

footer .box_footer_podpiska h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.vz_input {
    padding: 16px 30px 16px 22px;
    color: #a8a8a8;
}

.vz_button {
    padding: 8px 36px;
    background: transparent;
    border-color: #8e26b8;
}
.vz_button:hover {
    background-color: #8e26b8;
    color: #ffffff;
}
@media screen and (max-width: 543px){
    .container-slider {
        padding-left: 0;
        padding-right: 0;
    }
    .main_list_proekt .card{
        width: 300px;
        margin: 5px 0 5px 15px;
        min-height: 420px;
    }
}
@media screen and (max-width: 767px){
    body{
        font-size: 13px;
        line-height: 130%;
    }
    h2, .h2{
        font-size: 24px;
        line-height: 28px;
        text-transform: none;
    }
    h3, .h3{
        font-size: 18px;
        line-height: 21px;
        text-transform: none;
    }
    h4, .h4{
        font-size: 13px;
        line-height: 26px;
    }
    h5, .h5{
        font-size: 12px;
        line-height: 26px;
    }
    ul li {
        margin-top: 12px;
    }
    ul li::before {
        top: 2px;
    }
    div.button_os span{
        padding: 16px 20px 16px 20px;
        font-size: 1rem;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
